<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <input type="hidden" name="id" value="<%= incident._id %>" >
                <div class="form-group">
                    <label for="nameTextField">Incident Description</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the description"
                    name="description" 
                    value="<%= incident.description %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">priority</label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="Enter the first Name"
                    name="priority" 
                    value="<%= incident.priority %>"
                    required>
                </div>


                <div class="form-group">
                    <label for="publishedTextField">First Name</label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="Enter the first Name"
                    name="firstName" 
                    value="<%= incident.firstName %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">Last Name</label>
                    <input type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the Movie genre"
                    name="lastName"                     
                    value="<%= incident.lastName %>"
                    required
                    >
                    </input>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">emailAddress</label>
                    <input type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the emailAddress"
                    name="emailAddress"                     
                    value="<%= incident.emailAddress %>"
                    required
                    >
                    </input>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">phoneNumber</label>
                    <input type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the phoneNumber"
                    name="phoneNumber"                     
                    value="<%= incident.phoneNumber %>"
                    required
                    >
                    </input>
                </div>
                

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/incident-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>