<div class="container">
    <h1>Incident List</h1>
    <% if(displayName) { %>
    <a href="/incident-add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Add a Incident</a>
    <% } %>
    <div class="row">
        <div class="col">
    
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Description</th>
                        <th scope="col">Priority</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Phone Number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="movieList">
                    <!-- Repeatable Rows -->
                    <% for(let count = 0; count < incident.length; count++) { %>
                        <tr>
                            <th scope="row" class="text-center"><%= count + 1 %></th>
                            <td><%= incident[count].description %></td>
                            <td><%= incident[count].priority %></td>
                            <td><%= incident[count].firstName %></td>
                            <td><%= incident[count].lastName %></td>
                            <td><%= incident[count].emailAddress %></td>
                            <td><%= incident[count].phoneNumber %></td>

                            <% if(displayName) { %>
                            
                            <td class="text-center col-1">
                                <a href="/movie-edit/<%= movies[count]._id %>"
                                    class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            
                            <td class="text-center col-1">
                                <a href="/movie-delete/<%= movies[count]._id %>"
                                    class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>

                            <% } %> 
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

